body {
    margin: 0;
    width: auto;
    height: auto;
    background-color: cornsilk;
}

h1 {
	font-family: inherit;
	font-size: 54px;    
    text-align: center;
     color: #433718;
}

h2 {
	font-family: inherit;
	color: darkseagreen;
	text-align: center;
	margin: 0;
}

h3 {
	color: darkorange;
	font-size: 42px;
	text-align: center;
	margin: 0;
}

p {
   
	font-family: monospace;  
	color: #433718;

img {
    width: 250px;
}



